<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125550029622-fd4hv26lkeb292kcph9khpk7t16m6826.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125550029622-fd4hv26lkeb292kcph9khpk7t16m6826</string>
	<key>API_KEY</key>
	<string>AIzaSyCk3TTO3oHnq0I6jqHFOztbX4-fnAMsReo</string>
	<key>GCM_SENDER_ID</key>
	<string>125550029622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.new.My-collection-of-moments</string>
	<key>PROJECT_ID</key>
	<string>diplomado5g-01</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomado5g-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125550029622:ios:f4a52b0a9f9439bed5e197</string>
	<key>DATABASE_URL</key>
	<string>https://diplomado5g-01.firebaseio.com</string>
</dict>
</plist>